.App {
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  background: rgb(0,51,204);
  background: linear-gradient(35deg, rgba(0,51,204,1) 45%, rgba(221,87,197,1) 80%);
}

.App-header {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(10px + 3vmin);
  font-weight: bold;
  color: #ffffff;
}

.Chat-window {
  padding: 1rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #20242c;
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  justify-content: end;
  align-items: center;
  min-width: 900px;
  max-height: 670px;
  overflow: scroll;
}

.chat-wrapper {
  flex-direction: column;
  flex: 1;
  display: flex;
  padding-bottom: 48px;
  justify-content: center;
  align-items: center;
}

/* MESSAGE FIELD */
.message {
  margin: 1rem 0;
  width: 100%;
}

.message-content {
  display: flex;
  align-items: self-start;
  justify-content: flex-start;
  flex-flow: column;
  border-radius: 4px;
  padding: 1rem;
  background-color: #666;
}

.message .message-username {
  font-size: 0.8rem;
  color: rgba(255,255,255,.64);
}

.message .message-text {
  min-height: 10px;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: rgba(255,255,255,.89);
}

.message-send-box-wrapper {
  display: flex;
  width: 100%;
  background: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  align-items: center;
}

.my-message {
  align-items: self-end;
}
.my-message p {
  text-align: end;
}

/* INPUT FIELD */
.user-name {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  padding: 0 1rem;
}

.input-field {
  display: inline-flex;
  flex: 1 1 100%;
  margin-left: 8px;
  border-left: 1px solid rgba(0,0,0,.64);
}

input,
input:focus,
input:active,
textarea,
textarea:focus,
textarea:active
{
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

/* BUTTON */
.btn-wrapper {
  display: flex;
  justify-content: end;
  justify-content: flex-end;
  margin: 12px 0px;
  width: 100%;
}

.btn-wrapper button {
  color: white;
}

.btn-group {
  width: 100%;
}



